*{
    margin: 0;
    padding: 0;
}

.orange{
    border-radius: 20px;
    background-color: #FF7A50;
    margin-bottom: 50px;
}

.subscribe{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
}

.get{
 text-align: center;
color: white;
margin-top: -15px;
}

.input{
    padding-left: 10px;
    margin-top: 40px;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.folow{
    background-color: #FF7A50;
    
    color: #fff;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ikonchalar{
    display: flex;
    font-size: 20px;
    gap: 10px;
}

.one{
    list-style: none;
    font-size: 20px;
}

.onene{
    padding-bottom: 10px;
}

.displayone{
    font-family: 'Rubik';
color: #37383D;
    margin-left: 280px;
    margin-top: -190px;
}

.two{
    list-style: none;
}

.displaytwo{
    font-size: 20px;
    font-family: 'Rubik';
color: #37383D;
    margin-left: 500px;
    margin-top: -215px;
}

.twoe{
    padding-bottom: 10px;
}

.thre{
    list-style:none;
    padding-bottom: 10px;
}


.displaythre{
    font-size: 20px;
    font-family: 'Rubik';
color: #37383D;
    margin-left: 740px;
    margin-top: -215px;
}

.four{
    list-style: none;
    padding-bottom: 10px;
}

.displayfour{
    font-size: 20px;
    font-family: 'Rubik';
color: #37383D;
    margin-left: 960px;
    margin-top: -225px;
}

.one span{
color: black;
font-style: normal;
font-weight: 700;
}

.two span{
color: black;
font-style: normal;
font-weight: 700;
}

.thre span{
color: black;
font-style: normal;
font-weight: 700;
}

.four span{
color: black;
font-style: normal;
font-weight: 700;
}

.ohiri{
    list-style: none;
    display: flex;
    margin-left: 1000px;
    gap: 25px;
    margin-top: -40px;
    color: #646464;
}