* {
    margin: 0;
    padding: 0;
}

.our {
    margin-top: 100px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 43px;
    text-transform: capitalize;
    color: #363853;
}

.our span {
    color: #FF7A50;
}

.foodcard {
    margin-left: 70px;
    border-radius: 10px;
    background-color: #FF7A50;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.bexa {
    margin-left: 330px;
    margin-top: -85px;
    border-radius: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid gray;
}

.xura {
    border: 1px solid gray;
    margin-left: 580px;
    margin-top: -85px;
    border-radius: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.alibaba {
    border: 1px solid gray;
    margin-left: 830px;
    margin-top: -85px;
    border-radius: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.suuu {
    border: 1px solid gray;
    margin-left: 1080px;
    margin-top: -85px;
    border-radius: 10px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.suusoz {
    margin-top: -35px;
    margin-left: 50px;
}

.alibabasoz {
    margin-top: -30px;
    margin-left: 60px;
}



.xurasoz {
    margin-top: -40px;
    margin-left: 60px;
}

.pizzasoz {
    margin-top: -40px;
    margin-left: 60px;
}

.burgcha {
    font-size: 30px;
}

.burgsoz {
    color: white;
    margin-left: 60px;
    margin-top: -35px;
}

.bergur {
    margin: auto;
    width: 180px;
}

.chese {
    text-align: center;
}

.ches {
    margin-top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    color: #363853;
}

.cadbut {
    background: #FF7A50;
    border-radius: 2px;
    border: none;
    margin-left: 45px;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.cartoto {
    gap: 20px;
    display: flex;
    margin-right: 50px;
}


.manword {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 90px;
    margin-left: 30px;
    color: #363853;
}

.manword span {
    color: #FF7A50;
}

.manpi {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
    opacity: 0.9;
}

.timicon {
    margin-left: 30px;
}

.fastedtime {
    margin-left: 80px;
    margin-top: -27px;
}

.outline {
    margin-top: 20px;
    margin-left: 30px;
}

.outlinetext {
    margin-top: -23px;
    margin-left: 80px;
}

.kitay {
    margin-top: 20px;
    margin-left: 30px;
}

.kitaytext {
    margin-left: 80px;
    margin-top: -25px;
}